-r ../blink/requirements.txt
-r ../REST/requirements.txt

bleach
celery[redis]
django-axes
django-celery-beat
django-analytical
django-compressor>=2.3
django-cookie-law
django-grappelli
django-htmlmin
django-inlinecss
django-ipware==2.1.0  # Temporary pin awaiting django-axes fix
django<3.0.0
mysqlclient
pillow
pyjwt
# pymysql
python-memcached==1.59
pytz
requests
django-security-headers>=0.3
packaging
djangorestframework>=3.11.2  # Reqd by safety
pandas
django-samesite-none
urllib3 > 1.25.8  # Reqd by safety
lxml >= 4.6.2  # Reqd by safety

-e git+https://github.com/SALTISES4/django-lti-tool-provider@dev#egg=django_lti_tool_provider
-e git+https://github.com/edx/opaque-keys#egg=edx_opaque_keys
-e git+https://github.com/SALTISES4/pinax-forums@dev#egg=pinax_forums
-e git+https://github.com/SALTISES4/CourseFlow@model_testing#egg=Course_Flow
-e git+https://github.com/SALTISES4/UserFeedback@8b25b254ac30a823a500edf7ed60ed1abee32cc6#egg=user_feedback
